{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main-content container py-4" id="main-content">

  <h2 class="section-title text-center mb-4">Create Fast Design</h2>

  <div class="row">
    <!-- Form Column -->
    <div class="col-md-6 mb-4">
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
          {{ form.title.label_tag }}
          {{ form.title }}
          {{ form.title.errors }}
        </div>

        <button type="submit" class="btn btn-generate mt-3" >Get started </button>
      </form>
    </div>

    <!-- Images Column -->
    <div class="col-md-6">
      <div class="row mt-4">
        <!-- Cities -->
        <div class="col-6 mb-4">
          <h5 class="text-center text-light mb-3">🌆 Cities</h5>
          <div class="d-flex flex-wrap justify-content-center">
            <img src="{% static 'images/cit1.jpg' %}" class="img-thumb-style">
            <img src="{% static 'images/cit2.jpg' %}" class="img-thumb-style">
            <img src="{% static 'images/cit3.jpg' %}" class="img-thumb-style">
            <img src="{% static 'images/cit4.jpg' %}" class="img-thumb-style">
          </div>
        </div>



        <!-- Machines -->
        <div class="col-6 mb-4">
          <h5 class="text-center text-light mb-3">⚙️ Machines</h5>
          <div class="d-flex flex-wrap justify-content-center">
            <img src="{% static 'images/mch1.jpeg' %}" class="img-thumb-style">
            <img src="{% static 'images/mch2' %}" class="img-thumb-style">
            <img src="{% static 'images/mch3.jpeg' %}" class="img-thumb-style">
            <img src="{% static 'images/mch4' %}" class="img-thumb-style">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
